<a href="https://colab.research.google.com/github/Huyu2239/Prog2kakushin/blob/work1/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第12回(12/22) pandas
- 指定された任意の`csv`ファイルをダウンロード
- `DataFrame`に変換
- 入力されたコマンドどおりに`DataFrame`を処理

## メイン

csvファイルダウンロード

In [3]:
import os


file_url = input("ダウンロードするファイルのURLを入力してください: ")
file_name = input("ダウンロードしたファイルの名前を入力してください: ") or "csv_file.csv"

if not file_name.endswith(".csv"):
    file_name = "csv_file.csv"
    print("ファイル名が不適切なため、\"csv_file.csv\"に変更しました。")

os.system(f"wget \"{file_url}\" -O {file_name}")

# https://drive.google.com/uc?export=download&id=10vpfTNC2HnmfZGFQ6kc9HsuEuQ62yN1G
# https://drive.google.com/uc?export=download&id=1CDcR_0GFlx6R1tx-7IhyqE1g-HIcqhQj

ダウンロードするファイルのURLを入力してください: https://drive.google.com/uc?export=download&id=1CDcR_0GFlx6R1tx-7IhyqE1g-HIcqhQj
ダウンロードしたファイルの名前を入力してください:

0

ダウンロードしたcsvをDataFrameに変換して表示  
ヘッダーが存在するかをユーザーに入力させる

In [17]:
import pandas as pd


df = pd.read_csv(file_name)
df

     酒井祐希  1  1.1  1.2  1.3  0  1.4  1.5  1.6  0.1  0.2
0    今田茉央  1    1    1    0  1    1    1    1    1    1
1    川原浩之  1    1    1    1  1    1    1    1    1    1
2    岸田唯菜  1    0    1    1  1    1    1    0    1    1
3    赤塚未来  1    1    1    0  1    1    1    1    0    1
4    北田虎翔  1    1    0    1  1    1    1    1    1    1
5   河上恵美子  1    1    1    1  1    1    1    1    1    1
6    鹿野昌幸  1    1    1    1  1    1    1    1    1    1
7    上山伸也  1    1    0    1  1    0    1    1    0    0
8    河本詩織  1    1    1    1  1    1    1    1    1    1
9    高松莉奈  1    1    1    1  1    1    1    1    1    1
10    塚本彩  1    1    1    1  1    1    0    1    0    0
11   川上雛子  1    1    1    1  1    1    1    1    1    1
12   若松優月  1    1    1    1  0    1    1    1    1    1
13   中林眞幸  1    1    1    1  1    1    1    1    1    1
14   永山栄子  1    1    1    1  1    1    1    1    1    1
15   堀口浩二  1    1    1    1  1    1    1    1    1    1
16   黒川音羽  1    1    1    0  0    1    1    1    1    0
17    川上元  1    1    1    1  1    1    0    1    1    1
18   宮坂真緒  1    1    1    1  1    1    1    1    1    1

In [22]:
while True:
    header = input("headerは含まれますか？yes or no: ")
    if header == "yes":
        break
    elif header == "no":
        df = pd.read_csv(file_name, header=None)
        break
    else:
        print("予期しない入力を受け付けました。もう一度入力してください。")
        continue
df

headerは含まれますか？yes or no: ない
予期しない入力を受け付けました。もう一度入力してください。
headerは含まれますか？yes or no: ないって
予期しない入力を受け付けました。もう一度入力してください。
headerは含まれますか？yes or no: no

       0   1   2   3   4   5   6   7   8   9   10
0    酒井祐希   1   1   1   1   0   1   1   1   0   0
1    今田茉央   1   1   1   0   1   1   1   1   1   1
2    川原浩之   1   1   1   1   1   1   1   1   1   1
3    岸田唯菜   1   0   1   1   1   1   1   0   1   1
4    赤塚未来   1   1   1   0   1   1   1   1   0   1
5    北田虎翔   1   1   0   1   1   1   1   1   1   1
6   河上恵美子   1   1   1   1   1   1   1   1   1   1
7    鹿野昌幸   1   1   1   1   1   1   1   1   1   1
8    上山伸也   1   1   0   1   1   0   1   1   0   0
9    河本詩織   1   1   1   1   1   1   1   1   1   1
10   高松莉奈   1   1   1   1   1   1   1   1   1   1
11    塚本彩   1   1   1   1   1   1   0   1   0   0
12   川上雛子   1   1   1   1   1   1   1   1   1   1
13   若松優月   1   1   1   1   0   1   1   1   1   1
14   中林眞幸   1   1   1   1   1   1   1   1   1   1
15   永山栄子   1   1   1   1   1   1   1   1   1   1
16   堀口浩二   1   1   1   1   1   1   1   1   1   1
17   黒川音羽   1   1   1   0   0   1   1   1   1   0
18    川上元   1   1   1   1   1   1   0   1   1   1
19   宮坂真緒   1   1   1   1   1   1   1   1   1   1